.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px; 
    
  }
  
  .contact-header h2 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  .contact-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact-header p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .form-row {
    display: flex;
    gap: 1.5rem;
  }
  
  .form-row input {
    flex: 1;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 10%;
  }
  
  textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 150px;
    resize: none;
  }
  
  button {
    padding: 10px 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  .contact-footer {
    margin-top: 2rem;
  }
  
  .contact-footer h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contact-footer p {
    font-size: 1rem;
    color: #666;
  }
  